

<div id="header-body" style="border-bottom: 1px solid white ; box-shadow:  0 0 2px 2px rgba(236, 239, 243, 0.57);">
    
    <img src="/images/logo.png" alt="">
    <h1 id="pagetitle">Placement Cell</h1> 
        <% if (_locals.user){ %>
                <button type="button" class="auth rightshift">
                    <a href="/users/profile">
                        <%= _locals.user.name %>
                    </a>
                </button>
                <button type="button" class="auth rightshift">
                    <a href="/users/signOut">Sign Out</a>
                </button>
        <% }else{ %>
            <button type="button" class="auth rightshift">
                    <a href="/users/signIn">Sign In</a>
            </button>
            <button type="button" class="auth rightshift">
                    <a href="/users/signUp">Sign Up</a>
            </button>

        <% } %>
    </ul>

    
    

</div>