
<div id='nav' class='flex' style="margin: 0;">
    <ul>
        <li><a href="/"><Button><i class="fas fa-home"></i>  Home</Button></a></li>
        <li><a href="/student/add"><button>Create Student</button></a></li>
        <li><a href="/interview/add"><button>Create Interview</button></a></li>
        <li><a href="/batch/add"><button>Create Batch</button></a></li>
        <li><a href="/company/add"><button>Create Company</button></a></li>
        <li><a href="/student/view"><button>Students</button></a></li>
        <li><a href="/interview/view"><button>Interviews</button></a></li>
        <li><a href="/batch/view"><button>Batches</button></a></li>
        <li><a href="/company/view"><button>Companies</button></a></li>
        <li><a href="/"><button>Downloads</button></a></li>
    </ul>
</div>