
<div>
    <ul>
        <li><button><a href="">Create Student</a></button></li>
        <li><button><a href="/interview/add">Create Interview</a></button></li>
        <li><button><a href="/batch/add">Create Batch</a></button></li>
        <li><button><a href="/company/add">Create Company</a></button></li>
    </ul>
</div>