<h1>Create Batch</h1>
<form action="/batch/create" method="POST">
    <input type="text" name="name" placeholder="Batch name" required>
    <input type="text" name="cordinator" placeholder="Batch Coordinator name" required>
    <button value="createBatch">Create</button>
</form>
<a href="/">Back</a>