<% if (_locals.user){ %>
    <div class="flex">
        <a href="/student/add">
            <div class="dash">
                <img class="dashImg" src="https://classroomclipart.com/images/gallery/Animations/General/sleep_6_28.gif" alt="">
                <button class="submit">Create Student</button>
            </div>
        </a>
        <a href="/company/add">
            <div class="dash">
                <img class="dashImg" src="https://www.brunswickgroup.com/media/6239/customer_focused_gif_final.gif" alt="">
                <button class="submit">Create Company</button>
            </div>
        </a>
        <a href="/interview/add">
            <div class="dash">
                <img class="dashImg" src="https://cdn.dribbble.com/users/2054054/screenshots/6257329/interview.gif" alt="">
                <button class="submit">Schedule Interview</button>
            </div>
        </a>
        <a href="/batch/add">
            <div class="dash">
                <img class="dashImg" src="https://lh3.googleusercontent.com/proxy/mKTVYYBn5S7aXI-ZPYpWvUWeQy3Y3uqp4klQdX2EIKHtR_dTbimgMZP0gwGNys3ENLVpV7ws27jyqj1aukb0zi6wTbMThFcyVoV78hcyKw" alt="">
                <button class="submit">Create Batch</button>
            </div>
        </a>
        <a href="/job/add">
            <div class="dash">
                <img class="dashImg" src="https://gifimage.net/wp-content/uploads/2017/10/business-gif-10.gif" alt="">
                <button class="submit">Post Job</button>
            </div>
        </a>
            
    </div>
<% }else{ %>
    <h1 style="letter-spacing: 5px;">Welcome to  Placement Cell!!!</h1>
    <br><br>
    <p>Please Login to Proceed further</p>
    <button type="button" class="submit">
            <a href="/users/signIn">Sign In</a>
    </button>
    <button type="button" class="submit">
            <a href="/users/signUp">Sign Up</a>
    </button>
    
    <a href="/users/auth/google"><button class="submit"><i class="fab fa-google-plus-g"></i>Google SinIn/Sign Up</button></a>
<% } %>