


<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Name*" required>
    <input type="email" name="email" placeholder="Email*" required>
    <input type="password" name="password" placeholder="Password*" required>
    <input type="password" name="confirmpassword" placeholder="Confirm Password*" required>
    <button value="sign up">Sign Up</button>
</form>
<a href="/users/signIn">Sign In</a>
<p>
    <a href="/user/auth/google">Google SinIn/Sign Up</a>
</p>