<h1>Batches</h1>


<div class="flex">
    <%for(let batch of batches){%>
        <div class="item">
            <h1><%= batch.name %></h1>
            <p><%= batch.cordinator %></p>
        </div>
    <%}%>
</div>
