body{
    margin: 0;
    padding: 0%;
}


#pagetitle{
    margin: auto;
    padding-top: 20px;
    width: 50%;
    display: inline-block;
}

i,ul{
    display: inline-block;
    
}
li{
    list-style: none;
}
